body {
    background-color: lightpink;
}


img {
    border-radius: 50%;
}
.img{
    height: 100pt;
    width: 100pt;
    margin-top: 8pt;
    margin-left: auto;
    margin-right: auto;
}

.plain{
    margin-top:15pt;
    font-size: xx-large;
}

.info{
    margin-left: 50pt;
    font-size: x-large;
}

.big{
    height: 370pt;
    width: 400pt;
}

.small{
    padding-top: 30pt;
    height: 120pt;
    width: 440pt;
}

.viewer {
    margin-top: 15pt;
    margin-left: auto;
    margin-right: auto;
    border-color: darkslategray;
    border:  2pt solid;

    background-color: whitesmoke;
    border-radius: 22pt;
    border-color: darkmagenta;
    border-width: 3pt;
}



.loader {
    border: 16px solid #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170pt;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 10s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/*!* Safari *!*/
/*@-webkit-keyframes spin {*/
    /*0% { -webkit-transform: rotate(0deg); }*/
    /*100% { -webkit-transform: rotate(360deg); }*/
/*}*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}